@model Course_Overview.Areas.Admin.Viewmodels.UserCreateViewModel

<div class="container mt-5">
    <h2>Create User</h2>
    @*Show temptData Error*@
    @{
        var errorMessage = TempData["ErrorMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
    @*Show temptData Success*@
    @{
        var successMessage = TempData["SuccessMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success" role="alert">
            @successMessage
        </div>
    }
    <form asp-action="Create" method="post">
        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <ul id="password-requirements">
                <li id="length" class="invalid">At least 8 characters long</li>
                <li id="uppercase" class="invalid">At least one uppercase letter</li>
                <li id="lowercase" class="invalid">At least one lowercase letter</li>
                <li id="number" class="invalid">At least one number</li>
                <li id="special" class="invalid">At least one special character (#, $, etc.)</li>
            </ul>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Create User</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>